 /* DEFINE SOME VARIABLES */

:root{
  --main-color: rgba(0, 180, 200, 1);
  --secondary-color: rgba(0, 200, 120, 0.8);
}

/* TESTING IF JQUERY IS LOADED */



/* ALL STYLING */

 * {
  display: block;
  border: 0px solid rgba(0, 0, 0, 1);
  margin: 0;
  font-family: sans-serif;
 }

 head {
  display: none;
 }

 /* COVER PAGE */

 .cover-page {
  position: absolute;
  height: 4000px;
  width: 100%;
  z-index: 999;
  opacity: 0.9;
  background-color: var(--main-color);
 }

 #proceed {
  border: 2px solid White;
  width: 5em;
  text-align: center;
  margin: auto;
  position: relative;
  top: 5%;
  color: White;
  font-size: 40px;
 }

/* mini-header */

#mini-header {
  text-align: center;
  padding: 0.3em 0;
  background-color: var(--secondary-color);
  color: White;
}

/* HEADER (NAV) */

.nav {
  padding-right: 1em;
}

#nav-list {
  list-style-type: none;
}

#nav-list a {
  display: inline;
  color: White;
  text-decoration: none;
}

#nav-list li {
  display: inline;
  width: auto;
  float: right;
  padding: 1em;
}

#contact-link {
  border: 2px solid White;
  padding: 0.4em;
}







 /* ALL BOXES */

 .head-box {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
 }

 .head-box a {
  display: inline-block;
 }

 .head-box p {
  padding: 4em 4em;
  line-height: 2em;
 }

 .main-box {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  padding: 2em 0;
  font-size: 20px;
 }

 .main-box a {
  display: inline-block;
 }

 .main-box p {
  padding: 4em 4em;
  line-height: 2em;
 }

 .bordered-link {
  border-radius: 3px;
 }


/* ----------------------------------------- */
/* FIRST BOX */
/* ----------------------------------------- */

 #first-box {
  width: 100%;
  height: 500px;
  background-color: var(--main-color);
  text-align: left;
  border: 1px solid var(--main-color);
 }

 /* MY BIO */

#bio {
  display: block;
  margin: auto;
  width: 35em;
  border: 0px solid White;
  position: relative;
  top: 25%;
}

#myname, #mytitle, #resume {
  opacity: 0;
}




#bio h1, #bio h2 {
  color: White;
}


/* MARGINS */
 h1, h2 {
  margin: 20px;     
 }
 #resume {
  margin-top: 30px;
 }



 /* RESUME */

 #resume a {
  display: inline-block;
  border: 5px solid White;
  color: White;
  text-decoration: none;
  padding: 10px;
 }




 /* ----------------------------------------- */
 /* SECOND BOX */
 /* ----------------------------------------- */


#second-box {
}



/* ----------------------------------------- */
/* THIRD BOX */
/* ----------------------------------------- */


#third-box {
  background-color: var(--secondary-color);
}

#third-box p{
  color: White;
}




/* ----------------------------------------- */
/* FOURTH BOX */
/* ----------------------------------------- */


#projects-box {
  background-color: var(--main-color);
  width: 100%;
  margin: 0;
  padding: 5em 0;
}

#projects-title {
  color: White;
  opacity: 0;
}

#fourth-box h3 {
  padding-top: 3em;
}

#fourth-box {
  padding-top: 0;
}


/* ----------------------------------------- */
/* FIFTH BOX */
/* ----------------------------------------- */

#fifth-box {
  background-color: var(--secondary-color);
}

#fifth-box h3 {
  padding-top: 3em;
}

#fifth-box h3, #fifth-box p {
  color: White;
}

/* ----------------------------------------- */
/* SIXTH BOX */
/* ----------------------------------------- */

#sixth-box h3 {
  margin-top: 3em;
}


/* ----------------------------------------- */
/* CONNECT BOX */
/* ----------------------------------------- */

#connect-box {
  border: 1px solid rgba(0, 0, 0, 0.85);
}


#connect-box p {
  padding: 2em 2em;
}

.logo-link {
  height: 60px;
  width: 60px;
  display: inline;
  float: center;
}

.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-inline li {
  float: center;
  display: inline;
}





/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */

#footer {
  background-color: var(--main-color);
}

#footer p {
  color: White;
  padding: 0;
}



/* ----------------------------------------- */
/* MOBILE (PORTRAIT) */
/* ----------------------------------------- */


@media screen and (min-width: 320px) and (max-width: 700px) {
  * {
    border: 0px solid rgba(0, 0, 0, 0.3);
  }

  .main-text {
    text-align: left;
  }

  /* BIO BOX */

  #bio {
    display: block;
    text-align: left;
    padding-left: 1em;
    width: auto;
  }

  .main-box p {
  padding: 4em 2em;
  }


} 